.mainDivHome{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #004EA8;

    
}
.staticWhatsapp{
    width: 6rem;
    position: fixed;
    margin: 85vh 95%;
    z-index: 5;
}
@media (max-width:1300px) and (max-height:700px) {
    .staticWhatsapp{
        margin: 87vh 93%;
    }
}
@media screen and (max-width:820px) {
    .staticWhatsapp{
        width: 5rem;
        position: fixed;
        margin: 90vh 85% ;
    }
}

@supports (--moz-context-properties: position) {
    .staticWhatsapp {
        /* Your Firefox Developer Edition-specific styles here */
        /* For example: */
        position: fixed;
        margin: 85vh 95%;
    }
    @media screen and (max-width:820px) {
        .staticWhatsapp{
            position: fixed;
            margin: 90vh 85% ;
        }
    }
   
}
