.mainLine {
  display: flex;
  padding: 5vh;
  width: 100%;
  height: auto;
  color: white;
  background-color: #222222;
  align-items: center;


  @media screen and (max-width:820px) {
    flex-direction: column;
  }

  .linesTitles {
    width: 50rem;

    .linesTitle {
      text-align: start;
      font-weight: lighter;
      font-size: 6rem;
      margin: 0;

      @media screen and (max-width:820px) {
        font-size: 3rem;
      }
    }

    @media screen and (max-width:820px) {
      width: auto;
    }
  }

  @media screen and (max-width:820px) {
    .linesTitle {
      width: auto;

      .linesTitle {
        font-size: 4rem;
      }
    }
  }

  .linesContent {
    display: flex;
    width: 80%;
    height: 50rem;
    position: relative;
    align-items: center;
    margin-right: 15rem;

    @media screen and (max-width:820px) {
      overflow-x: auto;
      width: 110%;
      margin: 0;
    }

    .lineCard {
      height: 50rem;
      width: 450px;
      display: flex;
      justify-content: center;
      position: absolute;

      @media screen and (max-width:820px) {
        width: 25rem;
        height: 40rem;
      }

      .cardTitle {
        font-size: 4rem;
        font-weight: lighter;
        position: absolute;
        bottom: 0.1rem;
        text-align: center;
        color: white;
        opacity: 1;

        @media screen and (max-width:800px) {
          font-size: 3rem;
          margin-right: 2rem;
        }
      }
    }

    .lineCard:nth-child(1) {
      left: 38%;
      transform: translateX(-50%);

      @media (max-width:1400px) and (max-height:800px) {
        left: -15%;
        transform: translateX(1%);
      }

      @media screen and (max-width:820px) {
        left: 0;
        transform: translateX(1%);
      }
    }

    .lineCard:nth-child(2) {
      left: 45%;
      transform: translateX(-13%);

      @media (max-width:1400px) and (max-height:800px) {
        transform: translateX(-5%);
        left: 20%;
      }
      @media screen and (max-width:900px) {
        transform: translateX(50%);
        left: 20%;
      }
      @media screen and (max-width:800px) {
        transform: translateX(45%);
        left: 20%;
      }
    
    }

    .lineCard:nth-child(3) {
      left: 65%;
      transform: translateX(-13%);

      @media (max-width:1300px) and (max-height:700px) {
        left: 55%;
      }

      @media screen and (max-width:820px) {
        transform: translateX(100%);
        left: 30%;
      }
    }

    .lineCard:nth-child(4) {
      left: 85%;
      transform: translateX(-13%);

      @media screen and (max-width:820px) {
        transform: translateX(80%);
        left: 100%;
      }
    }
  }

  @media screen and (max-width:820px) {
    width: 100%;
  }
}