.mainPromos {
  height: 100vh;
  width: auto;
  background-color: white;
  padding: 10vh 10rem 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .promosTitle {
    font-size: clamp(3rem, 5vw, 7rem);
    font-weight: lighter;
    text-align: start;
  }
  @media screen and (max-width: 820px) {
    padding: 5vh 3rem 0 3rem;
    height: 110dvh;
    h2{
      margin: 0;
    }
  }
  
  .promoCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    display: flex; // Ocultar inicialmente

    &.showCarousel {
      display: flex; // Mostrar cuando se active la clase
    }

    .promoCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 45rem;
      width: 30rem;
      border-radius: 1.5rem;
      background-color: #004EA8;
      color: white;
      gap: 1rem;

      h3 {
        font-size: clamp(1.3rem, 5vw, 3rem);
        margin: 1rem 0.1rem 0.5rem 0;
      }

      p {
        padding: 0;
        margin: 0.1rem;
        font-size: clamp(1.3rem, 5vw, 2rem);
      }
    }

    .promoCard:hover {
      background-color: white;
      color: #004EA8;
      border: 5px solid #004EA8;
    }

    @media screen and (max-width: 820px) {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2rem;
      .promoCard{
        background-color: #25D366;
        padding: 2rem;
        p{
          margin: .1rem;
        }
        
      }
    }
  }

  .promosButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 5rem 35vw;
    padding: 2rem;
    background-color: #25D366;
    border-radius: 5rem;
    color: white;
    font-weight: bold;
  }

  .promosButton:hover {
    color: black;
  }

  @media screen and (max-width: 820px) {
    .promosButton {
      padding: 1rem;
      margin: 1rem;
      gap: 0;
    }
  }

  /* Custom Dots */
  .customDots {
    display: flex !important;
    justify-content: center;
    margin-top: 2rem;
    width: 20px;
    height: 20px;
    li {
      display: inline-block;
      margin: 0 4px;

      &.slick-active {
        button {
          background-color: #004EA8;
        }
      }
    }
  }

  .customDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
    transition: opacity 0.3s;
    background-color: white;
    &:hover {
      opacity: 0.7;
    }
  }
  .slick-dots{  // Puntos del Carrousel
    padding: 1rem;
    z-index: 1;
    background-color: transparent;
    bottom: -15px;
  }
  .sliderPromo{
    background-color: #004EA8;
    border-radius: 1rem;
    height: 85dvh;
  }
  .slick-list{
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      margin: .5rem;
    }
  }
}
